<div class="jumbotron">
  <h1>Chicago Open Employee Data</h1>

  <p>This dataset is a listing of all current City of Chicago employees, complete with full names, departments, positions, and annual salaries.</p>

  <p><%= link_to "See List", employees_url, class: "btn btn-primary btn-lg" %></p>
</div>
